# ───────────────────────────────
# Dependencies
# ───────────────────────────────
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# ───────────────────────────────
# Turborepo
# ───────────────────────────────
.turbo

# ───────────────────────────────
# Build outputs
# ───────────────────────────────
build/
dist/
out/
.next/
.output/
storybook-static/

# ───────────────────────────────
# Testing
# ───────────────────────────────
coverage/
.nyc_output/

# ───────────────────────────────
# Debug logs
# ───────────────────────────────
npm-debug.log*
pnpm-debug.log*
storybook.log*
yarn-debug.log*
yarn-error.log*

# ───────────────────────────────
# Misc
# ───────────────────────────────
.DS_Store
.cache
.temp
*.log
*.local
*.pem
.env
.env.*
!.env.example
.vercel
next-env.d.ts
