@import "@hynix/react/styles.css";

@layer base {
	:root {
		--layout-content-max: 64rem;
		--hairline-width: 0.5px;
	}

	body {
		@apply antialiased;
	}

	::selection {
		@apply bg-highlight/20;
	}
}

@layer utilities {
	.grid-layout {
		@apply grid grid-cols-[1fr_minmax(auto,var(--layout-content-max))_1fr];
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
