@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);

  --color-fg-1: var(--fg-1);
  --color-fg-2: var(--fg-2);

  --color-fill-1: var(--fill-1);
  --color-fill-2: var(--fill-2);
  --color-fill-3: var(--fill-3);
  --color-fill-4: var(--fill-4);
  --color-fill-5: var(--fill-5);

  --color-border: var(--border);
  --color-disabled: var(--disabled);

  --color-brand: var(--brand);

  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-information: var(--information);

  --font-sans: "Inter", sans-serif;
}

:root {
  --surface-1: oklch(1 0 0);
  --surface-2: oklch(0.9911 0 0);

  --fg-1: oklch(0.2178 0 0);
  --fg-2: oklch(1 0 0);

  --fill-1: oklch(0.9674 0.0013 286.37);
  --fill-2: oklch(0.91 0.0013 286.37);
  --fill-3: oklch(0.8588 0.0055 286.28);
  --fill-4: oklch(0.7118 0.0129 286.07);
  --fill-5: oklch(0.4419 0.0146 285.79);

  --border: oklch(0.91 0.0013 286.37);
  --disabled: oklch(0.2178 0 0 / 18%);

  --brand: oklch(0.2178 0 0);

  --danger: oklch(0.5785 0.2138 27.17);
  --success: oklch(0.5729 0.1544 149.22);
  --warning: oklch(0.702 0.1832 48.56);
  --information: oklch(0.523 0.2282 262.64);
}

[data-theme="dark"] {
  --surface-1: oklch(0.1913 0 0);
  --surface-2: oklch(0.2438 0.0061 17.58);

  --fg-1: oklch(1 0 0);
  --fg-2: oklch(0.2178 0 0);

  --fill-1: oklch(0.3211 0 0);
  --fill-2: oklch(0.36 0 0);
  --fill-3: oklch(0.4855 0 0);
  --fill-4: oklch(0.559 0 0);
  --fill-5: oklch(0.6895 0 0);

  --border: oklch(0.36 0 0);
  --disabled: oklch(1 0 0 / 18%);

  --brand: oklch(1 0 0);

  --danger: oklch(0.6989 0.1919 23.47);
  --success: oklch(0.8003 0.1821 151.71);
  --warning: oklch(0.7576 0.159 55.93);
  --information: oklch(0.7015 0.1596 253.87);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased bg-surface-1 text-fg-1 border-border;
    text-rendering: optimizeLegibility;
  }
}

@utility focus-outline {
  outline-offset: 2px;
  outline: 2px solid --alpha(var(--focus-outline-color, var(--brand)) / 0.15);
}
