@theme {
  --shadow-regular-shadow-x-small: 0px 1px 2px rgba(10, 13, 20, 0.03);
  --shadow-regular-shadow-medium: 0px 16px 32px rgba(14, 18, 27, 0.1);
}

@theme {
  --shadow-custom-shadows-x-small:
    0px 1px 2px rgba(51, 51, 51, 0.04),
    0px 2px 4px rgba(51, 51, 51, 0.04),
    0px 4px 8px rgba(51, 51, 51, 0.06),
    0px 0px 0px rgba(51, 51, 51, 0.04),
    inset 0px -1px 1px rgba(51, 51, 51, 0.06);

  --shadow-custom-shadows-small:
    0px 1px 3px rgba(51, 51, 51, 0.16),
    0px 5px 5px rgba(51, 51, 51, 0.08),
    0px 12px 6px rgba(51, 51, 51, 0.02),
    0px 16px 8px rgba(51, 51, 51, 0.01),
    0px 0px 0px rgba(51, 51, 51, 0.04),
    inset 0px -0.5px 0.5px rgba(51, 51, 51, 0.08);

  --shadow-custom-shadows-medium:
    0px 48px 48px rgba(51, 51, 51, 0.04),
    0px 24px 24px rgba(51, 51, 51, 0.04),
    0px 12px 12px rgba(51, 51, 51, 0.04),
    0px 6px 6px rgba(51, 51, 51, 0.04),
    0px 3px 3px rgba(51, 51, 51, 0.02),
    0px 1px 1px rgba(51, 51, 51, 0.04),
    0px 0px 0px rgba(51, 51, 51, 0.04),
    inset 0px -1px 1px rgba(51, 51, 51, 0.06);

  --shadow-custom-shadows-large:
    0px 96px 96px rgba(51, 51, 51, 0.06),
    0px 48px 48px rgba(51, 51, 51, 0.04),
    0px 24px 24px rgba(51, 51, 51, 0.04),
    0px 12px 12px rgba(51, 51, 51, 0.04),
    0px 6px 6px rgba(51, 51, 51, 0.04),
    0px 3px 3px rgba(51, 51, 51, 0.02),
    0px 1px 1px rgba(51, 51, 51, 0.04),
    0px 0px 0px rgba(51, 51, 51, 0.04),
    inset 0px -1px 1px rgba(51, 51, 51, 0.06);
}

@theme {
  --shadow-tooltip:
    inset 0px -1px 1px rgba(23, 23, 23, 0.06),
    0px 0px 0px rgba(235, 235, 235, 1),
    0px 48px 48px rgba(23, 23, 23, 0.04),
    0px 24px 24px rgba(23, 23, 23, 0.04),
    0px 12px 12px rgba(23, 23, 23, 0.04),
    0px 6px 6px rgba(23, 23, 23, 0.04),
    0px 3px 3px rgba(23, 23, 23, 0.02),
    0px 1px 1px rgba(23, 23, 23, 0.04);

  --shadow-components-toggle-switch:
    0px 2px 4px rgba(14, 18, 27, 0.03), 0px 6px 10px rgba(14, 18, 27, 0.06);
}
